.center-vertical {
    margin-top: 20%;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}

.grid { 
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}

.sudoku-colgroup, .sudoku-rowgroup  {
    border: solid medium;
}

.cell-data {
    border: solid thin;
    height: 65px;
    width: 65px;
}

.selected {
    background-color: #faff9e;
}

.sudoku-given {
    font-size: 40px;
    text-align: center;
    border: solid thin;
}

.option-btn {
    width: 5.5em;
    height: 2.5em;
}

.number-cell {
    width: 3em;
    height: 3em;
    font-weight: bolder;
}